.hero-slide {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
    background: linear-gradient(to right, var(--bg-color) 65%, #ffffff 45%);
    color: var(--color-light);
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  .hero-slide.active {
    opacity: 1;
    transform: translateY(0);
    z-index: 1;
  }
  
  .hero-slide .left, .hero-slide .right {
    flex: 0.5;
    padding: 40px;
  }
  
  .hero-slide .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
  }
  
  .hero-slide .right {
    background-color: #fff;
    color: #333;
    border: 1px dashed #ccc;
    /* border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1); */
  }
  
  .hero-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
    font-family: var(--title-font);
  }
  
  .hero-subtitle {
    font-size: 22px;
    font-weight: 600;
    /* color: #555; */
    margin-bottom: 10px;
  }
  
  .hero-description {
    font-size: 18px;
    margin-bottom: 20px;
    color: #666;
  }
  
  .hero-benefits {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #222;
  }
  
  .hero-nav {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  
  .hero-nav .dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
  }
  
  .hero-nav .dot.active {
    background-color: #fff;
  }
  